.master-container {
  color: var(--text-color);
  display: grid;
}
.master-container main {
  width: 100%;
  text-align: center;
}
.master-container main .left-section {
  float: left;
  width: 60%;
  border-right: 3px solid var(--text-color);
}
.master-container main .right-section {
  float: right;
  width: 40%;
  overflow-x: scroll;
  overflow: hidden;
  margin-top: 1%;
}
.master-container main .right-section .items {
  display: flex;
  justify-content: center;
}
.master-container .breakup {
  margin-top: 10%;
  padding-top: 15px;
  margin-bottom: 10%;
}
.master-container .breakup .title {
  text-align: center;
  padding: 10px;
  margin-bottom: 7%;
}
.master-container .breakup .left {
  float: left;
  width: 60%;
  border-right: 3px solid var(--text-color);
}
.master-container .breakup .right {
  float: right;
  width: 40%;
}
.table .title {
  text-align: center;
  padding: 10px;
  margin-bottom: 7%;
}
@media only screen and (max-width: 780px) {
  .master-container main .left-section {
    width: 100%;
    border-bottom: 3px solid var(--text-color);
    border-right: none;
  }
  .master-container main .right-section {
    width: 100%;
  }
}
