@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
:root {
  --app-background: gainsboro;
  --text-color: black;
  --slider-color: #00000075;
  --section-border: red;
  --table-row: #dddddd;
}
body {
  background-color: var(--app-background);
  color: var(--text-color);
}
* {
  box-sizing: border-box;
  font-family: 'Baloo Tamma 2', cursive;
}


h2.background {
  position: relative;
  z-index: 1;
  margin: 0px;
  height: 30px;
  font-weight: 100;
  letter-spacing: 3px;
  &:before {
      border-top: 2px solid #dfdfdf;
      content:"";
      margin: 0 auto;
      position: absolute;
      top: 50%; left: 0; right: 0; bottom: 0;
      width: 95%;
      z-index: -1;
  }

  span { 
    background: var(--app-background); 
    padding: 0 5px; 
  }
  .sub-title {
    font-size: 13px;
    letter-spacing: 1px;
    padding: 3px;
    &::before {
      content: "(";
    }
    &::after {
      content: ")";
    }
  }

}

h2.double:before { 
  /* this is just to undo the :before styling from above */
  border-top: none; 
}

h2.double:after {
  border-bottom: 1px solid blue;
  -webkit-box-shadow: 0 1px 0 0 red;
  -moz-box-shadow: 0 1px 0 0 red;
  box-shadow: 0 1px 0 0 red;
  content: "";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute;
  top: 45%; left: 0; right: 0;
  width: 95%;
  z-index: -1;
}
.section {
  width: 95%;
  height: 150px;
  margin: 15px 10px 10px 10px;
  padding: 10px;
  border-radius: 10px;
    box-shadow: inset 2px 2px 8px 0px #5e5555a6;
}
.section:hover, .section:focus {
  border: solid 2px var(--section-border);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 6px 20px 0px #a49898;
  outline: none;

}

@media only screen and (max-width: 700px) {
  .section:hover {
    border-radius: 1px;
  }
}