.card-container {
  height: 150px;
  width: 350px;
  border: 3px solid var(--text-color);
  border-radius: 15px;
  justify-content: unset;
  padding: 20px;
  margin-bottom: 3%;
}
.card-container .title {
  font-size: 23px;
  letter-spacing: 1px;
  font-weight: 600;
  height: 30px;
}
.card-container .sub-title {
  font-size: 12px;
  letter-spacing: 1px;
}
.card-container .value {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.emi {
  background-color: #66dcc1;
  color: white;
}
.interest {
  color: #0170f3;
  background-color: #fbd94f;
}
.total {
  background-color: #0170f3;
  color: white;
}
@media only screen and (max-width: 300px) {
  .card-container {
    width: 200px;
    height: 100px;
 }
  .card-container .title {
    font-size: 12px;
 }
  .card-container .value {
    font-size: 16px;
 }
}
