.footer-container {
  padding: 2%;
  font-weight: 900;
  text-align: center;
  letter-spacing: 3px;
  background-color: #1f5156;
}
a {
  padding: 10px;
  color: black;
}
a:hover {
  color: whitesmoke;
}
.linkss {
  font-size: 25px;
}
.follow {
  color: black;
}
